html,body {overflow-x: hidden; font-family:; background:#eee;}
#top #name {margin-bottom:4.5rem;}
#name .we {color:#D24117;}
#name .we:before {
  content:"わたしたちが"; color:#fff; font-style:italic;
  position:absolute; font-weight: 555;
  margin-top:0.4rem; margin-left:-0.05rem;
}
#name .are {font-family: "MS Serif", "Times New Roman"; color:#f6d435; font-size: 125%; font-style: italic; text-decoration:none;}
#name .are b {font-size:250%; border-bottom:0.25vw solid;}
#name .chotto:before {
  content:"ちょっと";
  position:absolute; margin-top:2.5%; font-size: 75%; font-family: "Times New Roman", "Times", serif; color:#000;
}
#name .crazy:after {
  content:"クレイジー メイト";
  position:absolute; margin-top:2.5%; margin-left:7.5%;
  color:#000; font-size: 75%;
}
#name .mate:after {
  content:"2020";
  position:absolute;
  padding-left: 5vw; margin-top:-0.5vw;
  color:#25AF5A;
  -webkit-text-stroke: 0.045rem #FFF;
  text-stroke: 0.045rem #FFF;
}
#name .we ,.are, #title b{
  -webkit-text-stroke: 0.045rem #FFF;
  text-stroke: 0.045rem #FFF;
}
.collaborator {display:relative; font-size: 100%; width:100%; margin:0; padding:2.5rem 0; border-bottom:0.125rem solid #000;}
#name {float:left; font-size:2.5rem; width:55%; margin:1.5rem 2.5rem;}
#name span {display:block; font-size: 1.5rem; color:#f6d435; margin-bottom:0.5vw;}
#name:hover {cursor:pointer; font-style:italic; color:#D24117;}
#question:before {
  content:"10の質問"; width:30%;
  position:relative; margin-right: 1.25rem; font-size: 1.25rem;}
#value:before {
  content:"大切なもの"; width:30%;
  position:relative; margin-right: 1.25rem; font-size: 1.25rem;}
#update a {float:right; width:30%; font-size:1rem; padding:0.5rem 1rem; margin:0.5rem 2.5rem 0 0; border:0.125rem solid #D24117; display:inline-flex; background:#fff;}
#update a:hover, .profile #link a:hover, .close:hover {cursor:pointer; font-style:italic; color:#f6d435; background:#D24117;}

.programme {margin:2.5rem 2.5rem; display:block; clear:both; font-size: 1.5rem; background:#fff; border:0.125rem solid #D24117;}
.programme:before {
  content:"実現したいこと";
  position:relative; padding:0 0.25rem;margin-right: 1.5rem; font-size: 1.5rem; color:#fff; background:#D24117;}

.about {border:0.125rem solid; border-radius:50%; font-size:1.5rem; text-align:center; background:#fff; padding:2.5rem; margin: 0 1.25rem 2.5rem; display:block; clear:both;}
.profile {border:0.125rem solid; border-radius:5rem; font-size:1.75rem; padding:2.5rem; margin:0 1.25rem 2.5rem; display:block; clear:both;}
.profile #link {font-size:1.25rem; display:block; text-align:left;}
.profile #link a {padding:0.25rem; margin-right:1.25rem; color:#f6d435; border:0.125rem solid #D24117; border-radius:2.5rem; text-decoration:none;}
.none, #who, .collection {display:none;}

.tba {
  pointer-events:none;
  user-select: none;
  -webkit-filter: blur(1.5vw);
  filter: blur(1.5vw);
}

@media screen and (max-width: 1200px){
#name {float:left; font-size:4.5vw; width:90%; margin-bottom:5vw;}
#name span {display:block; font-size: 3.5vw; color:#f6d435; margin-bottom:0.5vw;}
#name:after {left:80%; font-size: 5.5vw;}
#name .crazy:after, #name .chotto:before{font-size:6vw;}
#name .mate:after {font-size:5.5vw;}
#update a,.programme {float:left; width:80%; font-size:2.5vw; padding:0.5vw 1vw; margin:0 7.5vw 2vw; border:0.125rem solid #D24117; display:inline-flex; background:#fff;}
#question:before,#value:before {font-size:3vw;}
.programme:before,.programme, .about {font-size:3.5vw;}
.profile {font-size:3vw; padding:2vw 5vw; margin:0 2.5vw 5vw; display:block; clear:both;}
.profile #link {font-size:2.5vw;}
.profile #link a {padding:1vw 2vw; margin-right:1.25vw;}
}