#list {
  position: relative;
  width: 95%;
  margin: 5vw 0;
  left: 50%;
  display: block;
  -webkit-transform: translate(-50%, 0%);
  transform: translate(-50%, 0%);
}

.programme {
  font-size: 100%;
  width: 17.5rem;
  height: 23.5rem;
  border: 0.15rem solid #000;
  position: relative;
  float: left;
  background: #fff;
}

.how {
  font-size: 1rem;
  position: absolute;
  margin: 5%;
  float: left;
  z-index: 1;
  pointer-events: none;
}

.how {
  border-bottom: 0.15rem solid #fff;
}

.pre_event {
  color: #25AF5A;
}

.exhibition {
  color: #D24117;
}

.festival {
  color: #f6d435;
}

#pre_event .pre_event:hover {
  background: #25AF5A;
}

#exhibition .exhibition:hover {
  background: #D24117;
}

#festival .festival:hover {
  background: #f6d435;
}

#pre_event {
  border: 0.15rem solid #25AF5A;
}

#exhibition {
  border: 0.15rem solid #D24117;
}

#festival {
  border: 0.15rem solid #f6d435;
}

#top {
  background: #eee;
  z-index: 1;
  position: relative;
  zoom: 1.999;
  float: left;
}

#top:hover {
  z-index: 10;
  position: relative;
  transform: scale(1);
}

#top .how {
  border-bottom: 0.15rem solid #000;
}

#top .online:before,
.how .online:before {
  content: "オンライン発表";
}

#top .pre_event:before {
  color: #25AF5A;
}

#top .pre_event:before,
.how .pre_event:before {
  content: "プレイベント";
}

#top .exhibition:before {
  color: #D24117;
}

#top .exhibition:before,
.how .exhibition:before {
  content: "展覧会・アトラクション";
}

#top .exhibition:after {
  content: "2021.1.16 - 31";
  font-size: 1rem;
  position: absolute;
  margin-left: -4.5rem;
  font-weight: 500;
  color: #000;
}

#top .festival:before {
  color: #f6d435;
}

#top .festival:before,
.how .festival:before {
  content: "限定開催";
}

#top .festival:after {
  content: "2021.1.16 - 31";
  font-size: 1rem;
  width: 8rem;
  position: absolute;
  margin-left: 0.5rem;
  font-weight: 500;
  color: #000;
}

#festival .date span {
  border-bottom: solid 0.1rem;
  background: #f6d435;
}

.online:before,
.pre_event:before,
.exhibition:before,
.festival:before {
  color: #000;
}

.programme:hover {
  transform: scale(1.25);
  background: #fff;
  z-index: 10;
  position: relative;
}

.to {
  font-size: 1rem;
  position: relative;
  top: 2.5rem;
  padding: 0 5%;
}

.to b {
  font-size: 150%;
}

.to span {
  font-size: 1.2rem;
  display: inline-block;
  margin: 0.25rem 0;
  font-weight: 555;
}

.idea {
  font-size: 1.5rem;
  width: 23.5rem;
  position: absolute;
  top: 35%;
  right: -21%;
  text-align: center;
  z-index: 1;
  pointer-events: none;
  background: #fff;
  border-radius: 2.5rem;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  transform: rotate(-55deg);
  -moz-transform: rotate(-55deg);
  -webkit-transform: rotate(-55deg);
}

.idea .name {
  border-radius: 2.5rem;
}

.idea marquee {
  vertical-align: bottom;
}

.date {
  font-size: 1rem;
  width: 23.5rem;
  position: absolute;
  top: 40%;
  right: -60%;
  text-align: left;
  z-index: 1;
  pointer-events: none;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
}

#more_info {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-indent: -999px;
}

#bottom {
  position: relative;
  width: 100%;
  clear: both;
  display: block;
  top: 2rem;
  font-size: 2rem;
}

@media screen and (max-width: 1000px) {
  #top {
    zoom: 1;
  }

  #top:hover {
    transform: scale(1.25);
  }

  .programme:hover {
    transform: scale(1.1);
  }
}

@media screen and (max-width: 650px) {
  #top:hover {
    transform: scale(1.1);
    z-index: 10;
    position: relative;
  }
}