body{margin:0; padding:0;}
.library {
  padding: 0;
  margin: 0;
  white-space: nowrap;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
.library>* {
  display: inline-block;
}
.library li {
  width:50rem;
  height: 97vh;
  max-width:80vw;
  white-space: normal;
  list-style: none;
  overflow-x: hidden;
  overflow-y: scroll;
}
.library li:first-child {
  width:50rem;
  max-width:90vw;
}
.library li:first-child div {
  padding: 0 5%;
}
.library hr {
  border:none;
  clear:both;
  padding:0.25rem 0;
}

@media screen and (max-width: 550px){
  .library li:first-child div {
    padding: 0 5%;
  }
  }

@media print {
  .library li {
    height: 98vh;
    overflow: hidden;
  }
  .library li:first-child {
    max-width:50rem;
  }
  .library li:first-child div {
    padding: 4.5%;
  }
  .library li:not(:first-of-type) {
    display: none;
  }
  }