body {font-family: YuGothic, Yu Gothic",Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif; background:#fff;}
#what, .jp #value, #title span, #top, #date, #who {
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
}
#info {font-size:7.5vw; width:75%; padding-top:5%; font-family: 'Source Serif Pro', serif; letter-spacing:0.25vw;}
#info u {font-weight:600;}
#info i {letter-spacing:0.5vw;}
#info b {font-weight:900;}
#start a, #rule u, #rule a {text-decoration:none; color:#000; border:0.1rem solid; padding:0.5vw 1.5vw; border-radius:50%; display:inline-block; background:#fff;}
#value a:hover {text-decoration:none; color:#fff; cursor:pointer; background:#000;}

#info,
#close,
#submit h1,
#submit p,
#submit button,
.en #do
{
	font-family: 'Source Serif Pro', serif;
	font-weight:500;
}
#entryform, #submit {
	position:fixed;
	width:100%;
	height: 100%;
  z-index:10;
	top:0; left:0;
	font-size:0.75rem;
	padding: 0;
	margin:0;
}
#entryform iframe {
	width:90%; height:90%;
	min-height:55vh;
	max-width:35rem;
  border:none;
  border-radius:1rem;
	position:absolute;
	top: 50%; left:50%;
  z-index:10;
	-webkit-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
}
#submit section {
	width:90%;
	min-height:55vh;
	max-width:35rem;
	position:absolute; z-index:1;
	top: 55%; left:50%;
	-webkit-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
}
#submit input[type="text"],
#submit input[type="name"],
#submit input[type="url"],
#submit input[type="email"],
#submit textarea {
	padding:1.5%;
	margin:0.01vw 0;
	border:0.1rem solid;
	border-radius:0.5rem;
	font-size:0.75rem;
	width:97%;
}
#submit button {
	font-size: 1rem;
	cursor:pointer;
	width:100%;
	margin-bottom:2.5rem;
	padding:0.25rem 0;
	background: #fff;
	color: #000;
	border-radius:2.5rem;
}

#date {
	font-size:0.8rem;
	position:absolute;
	right:1vw;
	top:2.5%;
	height:100%;
	font-size:0.9rem;
}
#date b {font-weight:500;}
#you {position:relative; left:0; bottom:2vw; font-size:1rem; width:95%; margin:0 2.5%; z-index:10;}
#start {position:absolute; left:0; top:1rem; font-size:1rem; width:92.5%; margin:0 2.5%; z-index:10;}
#start h2 {position:absolute; left:0; top:-0.75rem; font-size:2.5vw; display:inline-block; line-height:200%; padding:0; margin:0;}
#start .link {font-size:1.5rem; width:30rem;}
#you #date {right:-2.5vw; top:0;}
.link {float:right; text-align:right; width:20rem; font-size:75%; margin:0.5vw 0 0;}
#do {
	font-size:1.1rem;
	position:relative;
	top:0; left:0;
	width:85vw; height:85vh;
	margin-bottom:7rem;
	display:flex;
	overflow-x:scroll;
}
#value {position:relative; padding:5% 2.5% 2.5% 2.5%;}

#about {
  position:relative;
	padding:0 5% 0;
	font-size:0.75rem;
}
#about h1 {
	font-size:1.25rem;
}
#rule {text-align:center; padding:5% 5% 0; font-size: 1.5rem;}
#rule li {text-align:left; font-size: 0.9rem;}
.contact {zoom:0.55;}
#reservation {padding-top:2.5%;}

#menu {
	position:relative;
	width:100%; height:25rem;
	margin:2.5rem 0;
}
#menu #date b {font-size:75%; position:absolute;}
.one b {top:2.5%;}
.two b {top:17.5%;}
.three b {top:40%;}
.four b {top:70%;}
#who {padding:5rem 15%; float:right;}
#who a {
  border:none;
  border-radius:0;
	display:block;
	height:100%;
	font-size:1.25rem;
	text-decoration:none;
	color:#000;
	cursor:pointer;
}

#new {
	display: flex;
	flex-direction: column-reverse;
}
#online {
	position:relative;
	display:flex;
	width:90%;
	max-width:35rem;
	margin:2.5rem auto 1rem;
	padding-top:2.5rem;
}
#online #what {
	position:absolute;
	right:0;
	font-size:0.8rem;
	z-index:10;
	top:4.5rem;
}
#online #you {
	position:absolute;
	left:0; bottom:0;
	font-size:0.75rem;
	z-index:10;
}
#online #do {
	font-size:0.75rem;
	position:relative;
	top:0; left:0;
	overflow:auto;
}
.jp #do {
	width:90%;
	float:right;
	font-size:1rem;
	position:absolute;
	top:0; right:0;
	height:70vh;
	display:flex;
}
.en #do {
	width:85%;
	height:auto;
	-ms-writing-mode: horizontal-tb;
	writing-mode: horizontal-tb;
}
#entry {
  position:relative;
  top:0; left:0;
  width:100%;
  height:90vh;
  padding:0;
  margin:0;
}
#entry iframe {
  position:relative;
  display:block;
  width:100%;
  height:100%;
  padding:0;
  margin:0;
  border:none;
}
#close {
	position:absolute;
	font-size:150%;
	text-align:center;
	padding:5%;
  z-index:1;
	top:0; left:0;
	width:90%; height:100%;
	background-color:rgba(255,255,255,0.75); 
}
#close:hover {
	cursor:pointer;
	color:#fff;
	background-color:rgba(0,0,0,0.25); 
}

@keyframes blur {
0% {
 -webkit-filter: blur(0.2rem);
 filter: blur(0.2rem);
}
100% {
 -webkit-filter: blur(0);
 filter: blur(0);
}
}
@keyframes back {
100% {
 -webkit-filter: blur(0.2rem);
 filter: blur(0.2rem);
}
0% {
 -webkit-filter: blur(0);
 filter: blur(0);
}
}
@media screen and (max-width: 900px){
#what, #you, #do {font-size:75%;}
#do {margin-left:2.5vw; width:80vw; height:75vh;}
#start .link {font-size:2.5vw;}
}
@media screen and (max-width: 500px){
#what, #you, #do, #date {font-size:55%;}
#do {margin-top:5vw; height:70vh;}
#info {padding-bottom:2rem;}
#submit {font-size:0.75rem;}
#start h2, #start a {font-size:0.75rem;}
}