hr {border: #fff;}
#ichoose {font-size: 2vw;}
#ichoose h3 {font-size: 2.5vw;}
#ichoose p {margin-bottom: 5vw;}
#ichoose b {font-weight: 500; font-size: 150%;}
#ichoose b:before {
  content: "{";
  margin-right: 1.5vw;
  font-size: 200%;
}
#ichoose b:after {
  content: "}";
  margin-left: 1.5vw;
  font-size: 200%;
}
.question {position: relative; margin:0 10vw 10vh; text-align:center;}
.question b {margin-top:30vh; font-size:7.5vw; text-align:center; font-weight: 500; padding:0.5vw 0; display:inline-block; width:10vw; height:9vw; border:solid; border-radius:50%;}
.question p {font-size:2vw;}
:target::before {
  content: "You are here";
  position:relative; top:20vh; font-size:2.5vw;
  color:red;
}
#answer {text-align:center; padding-bottom:5vh;}
#answer span {font-size:2vw; display:inline-block; vertical-align: middle;}
#answer u {font-size:4vw; font-style: italic;}
#answer .or {padding:0 5vw;}
#your {padding:30vh 0 0; font-size:2.5vw;}
#last span {position:absolute; padding-top:1.5vw; display:inline-block; font-size:3vw; border-top: double 1vw #000;}
#left {left:5vw}
#right {right:5vw;}
.type {position:relative; height:100vh; width:100%; margin:2.5vh 0 0;}
.is {position:absolute; pointer-events:none; top:5vh; left:10vw; text-align:center; font-weight: 500; font-size:7.5vw; padding:0.5vw 0; display:inline-block; width:10vw; height:9vw; color:red; border: red solid; border-radius:50%;}
.name {font-size:2.5vw; pointer-events:none; margin:15vh 15vw; float:right;}
.name u {font-size:75%;}
.type .message{
  position: absolute; top: 55%; left: 50%; width:75%;
  -webkit-transform : translate(-50%,-50%);
  transform : translate(-50%,-50%);
  text-align:center; pointer-events:none;
}
.type a {border:solid; width:90%; height:90%; display: block;
  position: absolute; top: 50%; left: 50%;
  -webkit-transform : translate(-50%,-50%);
  transform : translate(-50%,-50%);}
.type a:hover {background:red;}
.imagine {z-index:-1;
  position: absolute; top: 25%; left: 50%;
  -webkit-transform : translate(-50%,-50%);
  transform : translate(-50%,-50%);}
#last h2, #last h3 {clear:both; text-align:center; padding-bottom:5vh;}
#re {position:fixed; z-index:100; bottom:1.5vw; right:5vw; font-size:2.5vw; padding:0; margin:0; text-decoration:underline;}
#tips {position:fixed; z-index:100; bottom:1.5vw; left:5vw; font-size:2.5vw; padding:0; margin:0; text-decoration:underline; cursor:pointer;}
#back {padding:5vw 0 0; text-align:center;}
#back i a {font-size:5.5vw; display:inline-block; margin:5vh 0; color:red; border:solid red; border-radius:50%;}
#back i a:hover {color:#fff; background:red; cursor:pointer;}